{% extends 'base_page/base_login.html' %}
{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html>

{% block head %}
    {{ super() }}
    <title>找回密码 | 档案管理系统</title>
{% endblock %}

{% block content %}
    <body class="gray-bg">
    <div class="bg-image">

        <div class="middle-box text-center loginscreen animated fadeInDown">
            <div>
                <br><br>
                <h2>找回密码</h2>
                <br>
                <h3>请输入您的电子邮箱地址以找回密码.</h3>
                <form class="m-t" role="form" method="post">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        {{ form.email(class="form-control",placeholder="Email",type="email",required="") }}
                    </div>
                    {{ form.submit(class="btn btn-primary block full-width m-b",type="submit") }}
                </form>
                <p class="m-t">
                    <small>Copyright © 2016 Power by <a target="_blank"
                                                        href="http://www.cnblogs.com/INnoVationv2/">INnoVationv2</a>
                    </small>
                </p>
            </div>
        </div>
    </div>
{% endblock %}