{% for apply in applys %}
    <tr>
        <td class="mail-subject">{{ apply.student_id }}</td>
        <td class="mail-date">{{ apply.date }}</td>
        <td><a href="{{ url_for('.archive_apply_check', id=apply.id) }}" class="btn btn-white btn-sm">
            <i class="fa fa-pencil"></i> 查看 </a></td>
        {% if apply.status==1 %}
            <td><span class="label label-primary">已通过</span></td>
        {% elif apply.status==2 %}
            <td><span class="label label-danger">未通过</span></td>
        {% elif apply.status==0 %}
            <td><span class="label label-warning">审核中</span></td>
        {% endif %}
    </tr>
{% endfor %}